@media screen and (max-width: 992px) {
    .logo {
        padding: 0 10px;
        width: 50px;
    }
    img {
        width: 75px;
    }
    .menu-items {
        font-size: 45px;
    }
    #home {
        font-size: 100px !important;
        line-height: 0.99em;
        padding: 120px 75px 0px 75px;
        margin: 0 0 200px 0;
        width: 100% !important;
        height: 100% !important;
        letter-spacing: normal;
        position: relative;
        letter-spacing: -0.02em;
    }

    #work {
        font-size: 100px !important;
        line-height: 0.99em;
        padding: 0 75px 0px 75px;
        margin: 200px 0 200px 0;
        width: 100% !important;
        height: 100% !important;
        letter-spacing: normal;
        position: relative;
        letter-spacing: -0.02em;
    }
   


}

@media only screen and (min-device-width: 250px) and (max-device-width: 700px) {
    img {
        width: 45px !important;
    }
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: flex;
        width: 100vw;
        height: calc(100% - 65px);
        background: #818181;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        display: none;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a {
        font-size: 45px;
        color: #f8f8f7;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #818181;
    }

    #home {
        position: relative;
        font-size: 75px !important;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 80px 0 0 0;
        width: 100%;
        z-index: 3;
        overflow: hidden;
    }

    #contact {
        position: relative;
        text-align: right;
        font-size: 75px !important;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 80px 0 0 0;
        width: 100%;
        height: auto;
        z-index: 3;
        overflow: hidden;
    }

    #work {
        position: relative;
        font-size: 75px !important;
        width: 100%;
        height: 100%;
        padding: 0px;
        margin: 80px 0 0 0;
        width: 100%;
        z-index: 3;
        overflow: hidden;
    }


@media screen and (max-width: 992px) and (orientation: landscarpe) {
    .menu_items li {
        margin: 5px 0 0 0;
    }
    .menu_items {
        overflow: scroll;
        height: calc(100% - 65px);
    }
    .menu_items {
        font-size: 75px;
        color: #f8f8f7;
        font-weight: bold;
    }
}

@media only screen and (max-device-width: 360px) {

    .btn_menu {
        display: inline-flex;
    }



    #home {
        position: relative;
        font-size: 45px !important;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin: 80px 0 0 0;
        width: 100%;
        z-index: 3;
        position: relative;
        overflow: hidden;
    }
    #contact {
        position: relative;
        text-align: right;
        font-size: 45px !important;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin: 80px 0 0 0;
        width: 100%;
        height: auto;
        z-index: 3;
        position: relative;
        overflow: hidden;
    }

    .menu_items {
        position: flex;
        width: 100vw;
        height: calc(100% - 65px);
        background: #818181;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        display: none;
    }

    #work {
        position: relative;
        font-size: 45px !important;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin: 80px 0 0 0;
        width: 100%;
        z-index: 3;
        position: relative;
        overflow: hidden;
    }
}