* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    height: auto;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #f8f8f7;
}

.menu {
    background-color: #f8f8f7;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #afafaf;
}

img {
    width: 85px;
}

.logo {
    padding: 0 35px;
    width: 100px;
}

.menu_items {
    display: flex;
    list-style: none;
    margin-right: 25px;
}

.menu_items li {
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a {
    padding: 7px 13px;
    text-decoration: none;
    font-size: 35px;
    display: block;
    color: #afafaf;
}

.menu_items li:hover, li.active {
    transition: .4s;
    text-decoration: line-through
}

.btn_menu {
    margin-right: 35px;
    font-size: 25px;
    color: tranparent;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

#home {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    line-height: 0.99em;
    padding: 120px 75px 0px 75px;
    margin: 0 0 50px 50px;
    width: calc(100% - 150px);
    height: auto;
    background-color: transparent;
    position: relative;
    letter-spacing: -0.02em;
}

#home a:link, #home a:visited, #home a:active {
    color: #999;
}

#home a:hover {
    text-decoration: line-through;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
    color: #000;
    cursor: pointer !important;
}

#contact {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    line-height: 0.99em;
    padding: 120px 75px 0px 75px;
    margin: 0 0 50px 50px;
    width: calc(100% - 150px);
    height: auto;
    text-align: right;
    position: relative;
    letter-spacing: -0.02em;
}

#contact a:link, #contact a:visited, #contact a:active {
    color: #999;
}

#contact a:hover {
    text-decoration: line-through;
}

#work {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 1em;
    padding: 120px 75px 150px 75px;
    margin: 0 0 50px 50px;
    width: calc(100% - 150px);
    height: auto;
    text-align: left;
    position: relative;
    letter-spacing: -0.02em;
}

#work {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    line-height: 0.99em;
    padding: 120px 75px 0px 75px;
    margin: 0 0 50px 50px;
    width: calc(100% - 150px);
    height: auto;
    background-color: transparent;
    position: relative;
    letter-spacing: -0.02em;
}

#work a:link, #work a:visited, #work a:active {
    color: #999;
}

#work a:hover {
    text-decoration: line-through;
}

